* {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

main {
    margin-top: 142px;
}
body {
    min-width: 720px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
button {
    border-radius: 2px;
}
header {
    margin-top: 16px;
    padding-right: 22px; 
    height: 30px;
    vertical-align: middle;
}
a {
    text-decoration: none;
    font-size: inherit;
}
a:hover {
    text-decoration: underline;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #E4E4E4;
    background-color: #F2F2F2;
}
input:hover, input:focus {
    box-shadow: 0px 2px 6px -1px lightgrey;
}


.button {
    color: #606060;
    background-color: #F3F3F3;
    font-size: 0.85em;
    width: auto;
    margin: 28px 0.3em 18px;
    padding: 0.75em 1.25em;
    border: 1px solid transparent;
    border-radius: 4px;
}
.blueb {
    color: white;
    background-color: #4485F4;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    width: 71px;
    margin: 0;
    border: none;
}
.blueb:active {
    background-color: #3E77D8
}
.button:hover {
    color: black;
    border: 1px solid lightgrey;
}
.square {
    width: 16px;
    padding: 4px;
}
.square:hover {
    filter: brightness(60%)
}
.toplist {
    color: #424242;
    text-decoration: none;
}
.squares {
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    border: 3px solid transparent;
}
.flex-header {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.flexh-item {
    font-size: 0.8em;
    flex: 0 0 auto;
    height: auto;
    padding: 0px 8px;
}

/*footer*/

.flex-footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.f1 {
    font-size: inherit;
    color: inherit;
    flex: 0 0 auto;
}
.f2 {
    font-size: inherit;
    color: inherit;
    flex: 0 0 auto;
}
.footer-bar {
    color: #6F6F6F;
    font-size: 0.85em;
    padding: 15px 20px;
}
.footer-item {
    font-size: inherit;
    color: inherit;
    height: 10px;
    margin: 0px 10px;
}


/*IDs*/

#searchicon {
    position: relative;
    left: 32px;
    z-index: 2;
    scale: 1.2;
    opacity: 0.55;
}
#searchinput {
    height: 46px;
    width: 484px;
    position: relative;
    text-indent: 46px;
    margin-top: 27px;
    border: 1px solid #E0E0E0;
    border-radius: 23px;
}
#content {
    width: 600px;
    margin: auto;
    text-align: center;
}
#langoffer {
    font-size: 0.8em;
    color: #101010;
}
#deutsch {
    margin-left: 4px;
}

/*media queries*/

@media screen and (min-width: 1280px) {
    body {
        min-width: 1028px;
    }
    #searchinput {
        width: 584px;
    }
}