* {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

main {
    margin-top: 198px;
}
body {
    min-width: 720px;
    margin: 0;
    padding: 0;
}
button {
    border-radius: 2px;
}
header {
    padding-right: 14px; 
    padding-top: 16px;
    height: 30px;
    vertical-align: middle;
}
a {
    text-decoration: none;
    font-size: inherit;
}
a:hover {
    text-decoration: underline;
}
ul {
    height: inherit;
    margin: inherit;
}
li {
    display: inline-block;
    font-size: 0.8em;
    float: right;
    margin: auto 16px auto 0px;
    height: 30px;
}
footer {
    margin: 1em 5% 1em;
}
input:hover, input:focus {
    box-shadow: 0px 2px 6px -1px lightgrey;
}


.button {
    color: #606060;
    background-color: #F3F3F3;
    font-size: 0.85em;
    width: auto;
    margin: 28px 0.3em 18px;
    padding: 0.75em 1.25em;
    border: 1px solid transparent;
    border-radius: 4px;
}
.blueb {
    color: white;
    background-color: #4485F4;
    font-size: 1em;
    font-weight: bold;
    height: 100%;
    width: 71px;
    margin: 0;
    border: none;
}
.blueb:active {
    background-color: #3E77D8
}
.button:hover {
    color: black;
    border: 1px solid lightgrey;
}
.square {
    width: 16px;
    padding: 4px;
}
.square:hover {
    filter: brightness(60%)
}
.toplist {
    /* vertical-align: middle;*/
    margin-top: 7px;
    margin-bottom: 7px;
}
.squares {
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    border: 3px solid transparent;
}
#searchicon {
    position: relative;
    left: 32px;
    z-index: 2;
    scale: 1.2;
    opacity: 0.55;
}
#searchinput {
    height: 46px;
    width: 484px;
    position: relative;
    text-indent: 46px;
    margin-top: 27px;
    border: 1px solid #E0E0E0;
    border-radius: 23px;
}
#content {
    width: 600px;
    margin: auto;
    text-align: center;
}
#langoffer {
    font-size: 0.8em;
    color: #101010;
}
#deutsch {
    margin-left: 4px;
}

@media screen and (min-width: 1280px) {
    body {
        min-width: 1028px;
    }
    #searchinput {
        width: 584px;
    }
}

